.popover-panel {

  transform: translateX(-14%);
  border: 1px solid gray;
  border-radius: 9px;

  @media (max-width: 700px) {
    transform: translate(-7%);
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div {
      @apply cursor-pointer flex gap-2 bg-gray-100 hover:bg-gray-300 text-black text-lg rounded px-4 py-2
    }

    img {
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }
}
