.photo-gallery {
  padding: 0 20px;

  .content {
    &[data-tab-content] {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      grid-gap: 20px;

      @media (max-width: 632px) {
        justify-items: center;
      }

      .gallery-image {
        max-width: 100%;
        height: auto;
        cursor: pointer;
        
      }
    }
  }
}
